<span id="num-users" hx-swap-oob="true">{{ len .Users }}</span>

<span id="logged-in-as" hx-swap-oob="true">
  <span>Logged in as {{ .User.Username }}</span>
  <button hx-post="/logout" class="text-btn">Log out</button>
</span>

<div id="error" hx-swap-oob="true"></div>

{{ define "logged-in" }}
<div class="main">
  <h2>Logged in as {{ .User.Username }}</h2>
  <div class="home-container">
    <div class="home-followers" hx-get="/followers" hx-trigger="load" hx-swap="outerHTML">Loading</div>
    <div class="home-following" hx-get="/following" hx-trigger="load" hx-swap="outerHTML">Loading</div>
  </div>
</div>
<button hx-get="/users" hx-target="#users">
  Get other users
</button>
<div id="users"></div>
{{ end }}

{{ template "logged-in" . }}
