{{ define "register" }}
<div id="error"/></div>
{{ if .Register }}
<form hx-post="/register" hx-swap="outerHTML" class="form">
  <h2>Register</h2>
  {{ template "inputs" }}
  <a href="/login">Switch to login</a>
</form>
{{ else }}
<form hx-post="/login" hx-swap="outerHTML" class="form">
  <h2>Log In</h2>
  {{ template "inputs" }}
  <a href="/register">Switch to register</a>
</form>
{{ end }}
{{ end }}

{{ define "inputs" }}
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />
  </div>
  <button type="submit" id="button" class="full-width" data-loading-disable>Submit</button>
{{ end }}
