{{ define "register" }}
<div id="error"/></div>
<form hx-post="/register" hx-swap="outerHTML" class="form">
  <h2>Register</h2>
  {{ template "inputs" }}
  <a href="/login">Switch to login</a>
</form>
{{ end }}

{{ define "inputs" }}
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />
  </div>
  <input type="number" name="sleep" value="400" hidden />
  <button type="submit" id="button" class="full-width" data-loading-disable>
    <span data-loading-class="hidden">Submit</span>
    <span data-loading-class="visible" class="hidden">Please wait...</span>
  </button>
{{ end }}

